{% extends 'admin.html' %}
{% from '_macros.html' import render_form with context %}
    {% block extra_head %}
        {% if not mce is defined %}
            {% if codemirror %}
                {{ codemirror.include_codemirror() }}
            {% endif %}
        {% else %}
            <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
            <script type="text/javascript">
                tinymce.init({
                    selector: "textarea"
                    });
            </script>
        {% endif %}
        {% if pagedown %}
            {{ pagedown.include_pagedown() }}
        {% endif %}
    {% endblock extra_head %}
    {% block header %}
        {% include 'header.html' with context %}
    {% endblock header %}
    {% block body %}
    {% if forms %}
        {% for id,f in forms.items() %}
            {{ id }}
            {{ f }}
        {% endfor %}
    {% endif %}
    {% if a %}
        <h2>{{ a.title }}</h2>
        <p>{{ a.content|markdown }}</p>
        <p>{{ a.created|date_pretty }}</p>
    {% endif %}
        

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
        Add Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Article</h4> 
                    </div>
                    <div class="modal-body">
                        {% if form %}
                            <div class=well>
                                {% if form_args %}
                                    {{ render_form(form,**form_args) }}
                                {% else %}
                                    {{ render_form(form) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
            </div>
    </div>
</div>

    {% endblock %}
