{% extends base %}
    {% set wide = true %}
    {% block extra_head %}
        <link rel=stylesheet href="{{url_for('static',filename='css/grid.css')}}" />
        <link rel=stylesheet href="{{url_for('static',filename='css/blog.css')}}" />
    {% endblock extra_head %}
    {% block body %}
    {% block header %}
        {% if navbar_file_in_context %}
            {% set nav = navbar_name %}
        {% else %}
            {% set nav = config['DEFAULT_NAVBAR'] %}
        {% endif %}
        {% include _get_navbar(nav) with context %}
    {% endblock header %}
    {% block content %}
        <div class=row>
            <div class="col-md-9 col-sm-4 box content">
                <div class=row>
                    <div class="col-md-6 box box1">
                        {% block column_one %}
                        {% endblock column_one %}
                    </div>
                    <div class="col-md-6 box box2">
                        {% block column_two %}
                        {% endblock column_two %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-2 box sidebar">
                {% block sidebar %}
                <div class=row>
                   <div class="col-md-1 box box3" style="display:none;">
                        {#{% block sidebar_widget %}
                        {% endblock sidebar_widget %}#}
                    </div>
                    <div class="col-md-12 box box4">
                        <div class=row>
                            <div class="col-md-12 widget box">
                                {% block sidebar_widget2 %}
                                {% endblock sidebar_widget2 %}
                            </div>
                        </div>
                        <div class=row>
                            <div class="col-md-12 widget box">
                                {% block sidebar_widget3 %}
                                {% endblock sidebar_widget3 %}
                            </div>
                        </div>
                        <div class=row>
                            <div class="col-md-12 widget box">
                                {% block sidebar_widget4 %}
                                {% endblock sidebar_widget4 %}
                            </div>
                        </div>
                        <div class=row>
                            <div class="col-md-12 widget box">
                                {% block sidebar_widget5 %}
                                {% endblock sidebar_widget5 %}
                            </div>
                        </div>
                    </div>                    
                </div>
                {% endblock sidebar %}
            </div>
        </div>
        <div class=row>
            <div class="col-md-12 col-sm-6 footer">
                {% block footer %}
                <div class=row>
                    <div class="col-md-4 box footer-left">
                        {% block footer_left %}
                        {% endblock footer_left %}
                    </div>
                    <div class="col-md-4 box footer-mid">
                        {% block footer_mid %}
                        {% endblock footer_mid %}
                    </div>
                    <div class="col-md-4 box footer-right">
                        {% block footer_right %}
                        {% endblock footer_right %}
                    </div>
                </div>
                {% endblock footer %}
            </div>
        </div>
    {% endblock content %}
    {% endblock body %}

