<!doctype html>
<html>
    <head>
        <style>
            {% if admin is defined %}
            body { padding-top:75px;}
            {% endif %}
        </style>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.css" />
        {% set ck = false %}
        {% if form %}            
            {% for f in form %}
                {% if f.type == 'FormField' %}
                    {% for field in f %}
                        {% if field.type == 'CKTextEditorField' %}
                            {% set ck = true %}
                        {% endif %}
                    {% endfor %}
                {% elif f.type == 'CKTextEditorField' %}
                        {% set ck = true %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if not ck %}
        
        {% endif %}
        {#<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />#}
        {% if title is defined %}
            <title>{{ title }}</title>
        {% endif %}
        <script type="text/javascript">
            
            var SCRIPT_ROOT = {{ request.url_root|tojson|safe }};
        </script>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body style="{% if body_style %}{% block body_style %}{{ body_style }}{% endblock body_style %}{% else %}padding-top:75px;{% endif %}" id="{{request.endpoint|fix_body}}">
        {% if not admin %}
            <div class=container>
        {% endif %}
        {% block header %}
            {% include 'admin/_header.html' with context %}
        {% endblock header %}
        {% if admin %}
            <div class=container>
        {% endif %}
        {% block messages %}
            {% include 'includes/_messages.html' with context %}
        {% endblock messages %}
        {% block body %}{% endblock body %}
        {% block content %}{% endblock content %}
                <footer>
                    {% block footer %}{% endblock footer %}
                </footer>
            </div>
        {% block footer_js %}
                    {% if not remove_jquery %}
                        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
                    {% endif %}
                    {#     //var jq = document.createElement('script'); jq.type = 'text/javascript';
                        // Path to jquery.js file, eg. Google hosted version
                       // jq.src = 'http://code.jquery.com/jquery.js';
                       //   document.getElementsByTagName('head')[0].appendChild(jq);#}
            <!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
            <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js">
            </script>
        {% if form %}
            {% if use_ck %}
                {% set ck = true %}
            {% else %}
                {% set ck = false %}
                {% for f in form %}
                    {% if f.type == 'FormField' %}
                        {% for field in f %}
                            {% if field.type == 'CKTextEditorField' %}
                                {% set ck = true %}
                            {% endif %}
                        {% endfor %}
                    {% elif f.type == 'CKTextEditorField' %}
                            {% set ck = true %}
                    {% endif %}
                {% endfor %}
                {% if codemirror %}
                    {#{{ codemirror.include_codemirror() }}#}
                {% endif %}
            {% endif %}
            {% if ck %}                
                <script src="{{url_for('static',filename='js/ckeditor/ckeditor.js')}}"></script>
                <script src="{{url_for('static',filename='js/ckeditor/adapters/jquery.js')}}"></script>
                <script type="text/javascript">
                    $(".close").on("click",function(){
                            $(".alert").alert('close');
                    });
                    $('#editor').ckeditor({extraPlugins: 'codemirror',startupMode : 'source',
                                            codemirror: 
                                            { 
                                                mode: 
                                                    {%- if editor_mode -%}
                                                        '{{editor_mode}}'
                                                    {% else %}
                                                        'jinja2'
                                                    {%- endif -%}
                                            }
                    });
                </script>
            {% endif %}        
        {% endif %}
        {% endblock footer_js %}
    </body>
</html>
