{% extends 'admin.html' %}
{% macro render_sort_item(item,num=0,edit_link=false) %}
    <div class="group">
    <h3>{% if item.title %}
        {{item.title}} {% if item.block_id %} ({{item.block_id}}){% endif %}
        {% else %}
            Item{:{ kwargs.pop('num') }}
        {% endif %}
    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    </h3>
    <div>
        <div>
            {% if edit_link %}
            <a href="{{url_for('admin.edit_static_block',item_id=item.id)}}">Edit&nbsp;
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="pull-right delete-link" id="delete-{{item.block_id}}" block={{item.block_id}} href="#">Delete&nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <hr />
            {% endif %}
            {% if item is callable %}
              {{ item() }}
            {% endif %}
        </div>
        <br />
        <hr />
        <div>
            {% if item is callable %}
              {{ item()|safe }}
            {% endif %}
        </div>
        {% if editable %}
        <div>
            {% set text = item() %}
            <textarea class="form-control ckeditor" value="{{text}}">{{text}}</textarea>
            </div>
        {% endif %}
    </div>
    
  </div>
{% endmacro %}
{% macro sortable(items,edit_link=false) %}
    <div id="accordion">
        {% for item in items %}
            {{ render_sort_item(item,num=loop.index,edit_link=edit_link) }}
        {% endfor %}
    </div>
{% endmacro %}
{% block extra_head %}
    {{ super() }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/black-tie/jquery-ui.css">        
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <style>
  /* IE has layout issues when sorting (see #5413) */
  .group { zoom: 1 }
  </style>
{% endblock extra_head %}
{% block content %}
    {% if list_items %}
            {{ sortable(list_items,edit_link=true) }}
    {% endif %}
{% endblock content %}
{% block footer_js %}
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script>
                $(function() {
                  $( "#accordion" )
                    .accordion({
                          header: "> div > h3",
                          collapsible: true
                        })
                    .sortable({
                        axis: "y",
                        handle: "h3",
                        stop: function( event, ui ) {
                              // IE doesn't register the blur when sorting
                              // so trigger focusout handlers to remove .ui-state-focus
                              ui.item.children( "h3" ).triggerHandler( "focusout" );
 
                              // Refresh accordion to handle new order
                              $( this ).accordion( "refresh" );
                        }
                    });
                });
    </script>
    <script type="text/javascript">
        $(".delete-link").on("click",function(){
                var blockId = $(this).attr("block");
                var response = confirm("Delete " + blockId + "?");
                if(response) {
                    $.getJSON(
                        '{{url_for("admin.delete_static_block")}}',
                        {'block_id':blockId},
                        function(result) {
                            if(!result.error){
                                window.location = "{{url_for('admin.index')}}";
                            }else{
                            window.location = "{{url_for('admin.list_static_block')}}";
                            }
                        }
                    );
                }
            });
        $(function(){
            var addText = function(elem){
                $(elem).text($(elem).attr("value"));
            }
            for (var i = 0;i <= $(".ckeditor").length; i++) {
                addText($(".ckeditor")[i]);
            }            
        });
    </script>        
    {{ super() }}
{% endblock footer_js %}
