{% extends 'layout.html' %}
    {% block extra_head %}
    <style>
        .nav-pills>li>a.side {
            margin-left:-58px;
            margin-right:0px;
            width:100px;
        }
        .jumbotron {
            background: #358CCE;
            color: #FFF;
            border-radius: 0px;
        }
        .jumbotron-sm { padding-top: 24px;
            padding-bottom: 24px; }
        .jumbotron small {
            color: #FFF;
        }
        .h1 small {
            font-size: 24px;
        }
    </style>
    {% endblock extra_head %}
    {% block header %}
        {% include 'header.html' with context %}
    {% endblock header %}
    {% block content %}

<div id=sidebar>
<ul class="nav nav-pills nav-stacked">
    <li class=active><a  class=side href="#">Menu</a></li>
    <li><a  class=side href="#">Settings</a></li>
    <li><a class=side href="#">Profile</a></li>
    <li><a class=side href="#">Add Page</a></li>
    <li><a class=side href="#">Add Post</a></li>
    <li><a class=side href="#">Logout</a></li>
</ul>
</div>
    <div class=row>
        <div class=col-md-12>
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>
    <label for="r1">radio
    <input type="radio" id="r1"/>
    </label>


    <p>
	Write your own review
</p>
<p>
	Your reviewing <span class="productName"></span>
</p>
<p>
	Rate this Product*
</p>
<form>
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th>1 stars</th>
			<th>2 stars</th>
			<th>3 stars</th>
			<th>4 stars</th>
			<th>5 stars</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Quality</td>
			<td></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
		</tr>
		<tr>
			<td>Taste</td>
			<td></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
		</tr>
		<tr>
			<td>Value</td>
			<td></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
			<td><input type="radio" /></td>
		</tr>
	</tbody>
</table>
</form>

</div>
</div>








    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
            </div>
    </div>
</div>

<a id="addInput" class="btn btn-default">press me </a>

<div id="addItem">
    {% if content %}
        {{ content|markdown }}
    {% else %}
    <p>Test text</p>
    <p>were pretending threre is text here</p>
    {% endif %}
</div>
    {% endblock content %}

    {% block footer_js %}
    {{ super()|safe }}
    <script type="text/javascript">
    $(function(){
        $(document).on("click","#addInput",function(){
            var txtDiv = $("#addItem");
            var txt = txtDiv.text();
            txtDiv.text("");
            var outside =
                $("<div>").addClass("input-group")
                    .html($("<div>").addClass("row")
                        .html($("<div>").addClass("col-md-6")
                            .html($("<div>").addClass("form-group")
                                .html($("<form>").attr("method","post")
                                    .html($("<textarea>").attr("rows",5).text(txt)
                                    .attr("id","content").attr("name","content")
                                    .addClass("form-control"))
                                        .append($("<button>")
                                            .addClass("btn btn-info")
                                            .text("Submit"))
                                        .append($("<button>")
                                            .addClass("btn btn-warning")
                                            .text("Reset"))
                                        .append($("<button>")
                                            .addClass("btn btn-danger")
                                            .text("Cancel")
                                            )
                                        )
                                    )
                                )

                        );
            //var input = '<div class="input-group"><div class="row"><div class="col-md-4"><div class="form-group"><form method=post action=""><textarea class="form-control" rows=5 type="textarea" name="content" id="content"></textarea><div class="btn-group btn-group-justified"><button type=submit class="btn btn-info">Add Tag</button></div></form></div></div></div></div>';
            //var input = '<div class="wrapper"><input class="input" rows=5 type="textarea" /></div>'
            $("#sidebar").append(outside);
            /*tinymce.init({
                selector: "textarea"
                });*/
            });
            var res = $.getJSON(SCRIPT_ROOT+'about',{
                    ''},function(){
                });
    $(res).appendTo('body');
});
</script>

{% endblock footer_js %}
