{% extends 'layout.html' %}
    {% block header %}
        {% include 'header.html' with context %}
    {% endblock header %}

{# render_contact_form

    @params:
    form - form to render
    should have
    name,email,subject,message

    CONTACT_FORM_SETTINGS - settings for form
    should be in format:


CONTACT_FORM_SETTINGS = {
    'HEADING':'text',
    'SUBHEADING':'text',
    'OPTIONS':(
        (opt,val),
        (opt,val),
    ),
    'SUBMIT_TEXT':'text',
    'COMPANY_TITLE':'text',
    'COMPANY_ADDRESS':{
        'NAME':'text',
        'street':'text',
        'city':'text',
        'state':'text',
        'zip':'text',
    },
    'COMPANY_PHONE':'text',
    'CONTACT_NAME':'text',
    'CONTACT_EMAIL':'text,
}
#}
{% macro render_contact_form(form,CONTACT_FORM_SETTINGS,use_recaptcha) %}
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        {{CONTACT_FORM_SETTINGS['HEADING']}}
                        <small>{{CONTACT_FORM_SETTINGS['SUBHEADING']}}</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.name.label}}
                                {{ form.name(class_='form-control',id="name",placeholder="Enter name")}}

                            </div>
                            <div class="form-group">
                                {{form.email.label}}
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                {{form.email(class_="form-control",id="email",placeholder="Enter Email")}}
                            </div>
                        </div>
                        <div class="form-group">

                            {{form.subject.label}}
                            {{form.subject(class_="form-control",id="subject",options=CONTACT_FORM_SETTINGS['OPTIONS'])}}
                        </div>
    			{% if use_recaptcha %}
	                        {{ form.recaptcha }}
			{% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{form.message.label}}
                            {{form.message(class_="form-control",rows=9,cols=25,placeholder="message")}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            {{CONTACT_FORM_SETTINGS['SUBMIT_TEXT']}}
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> {{CONTACT_FORM_SETTINGS['COMPANY_NAME']}}</legend>
            <address>
                <strong>{{CONTACT_FORM_SETTINGS['COMPANY_ADDRESS']['NAME']}}</strong><br>
                {{CONTACT_FORM_SETTINGS['COMPANY_ADDRESS']['STREET']}}<br>
                {{CONTACT_FORM_SETTINGS['COMPANY_ADDRESS']['CITY']}},{{CONTACT_FORM_SETTINGS['COMPANY_ADDRESS']['STATE']}} {{CONTACT_FORM_SETTINGS['COMPANY_ADDRESS']['ZIP']}}<br>
                <abbr title="Phone">
                    P:</abbr>
                {{CONTACT_FORM_SETTINGS['COMPANY_PHONE']}}
            </address>
            <address>
                <strong>{{CONTACT_FORM_SETTINGS['CONTACT_NAME']}}</strong><br>
                <a href="mailto:{{CONTACT_FORM_SETTINGS['CONTACT_EMAIL']}}">{{CONTACT_FORM_SETTINGS['CONTACT_EMAIL']}}</a>
            </address>
            </form>
        </div>
    </div>
</div>
{% endmacro %}

{% block body %}
    {% if form and CONTACT_FORM_SETTINGS %}
        {{render_contact_form(form,CONTACT_FORM_SETTINGS,false)}}
    {% endif %}
    {% if args %}
            {{args}}
        {% endif %}
{% endblock body %}
