{% extends 'layout.html' %}
    {% block header %}
        {% include 'header.html' with context %}
    {% endblock header %}
    {% block body %}
        <a id="addInput" class="btn btn-default">press me </a>

        <div id="addItem"></div>
    {% endblock body %}

    {% block js_footer %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){ 
            $(document).on("click","#addInput",function(){
                var input = '<input class="form-control" type="text" value="new" />';
                $("#addItem").append(input);
                });
            var res = $.getJSON(SCRIPT_ROOT+'about',{
                '',function(){
                }
                });
            $(res).appendTo('body');
        });
</script>

{% endblock footer_js %}
