{% extends 'layout.html' %} 
{% from 'buttons2.html' import get_button as button %}
{% macro render_post_list(lst) %}
  {{lst}}
{% endmacro %}

{% macro render_blog_nav(nav_links) %}
    <div class="blog-masthead">
      <div class="container-fluid">
        <nav class="blog-nav">
    {% for endpoint,text in nav_links %}   
          <a class="blog-nav-item{% if endpoint == request.endpoint.split('.')[-1] %} active{% endif %}" href="{{url_for(endpoint,**kwargs)}}">{{text}}</a>
    {% endfor %}
        </nav>
      </div>
    </div>
{% endmacro %}

{% macro render_sidebar_widget(widget,inset=true,block=true) %}
            <div class="sidebar-module {% if inset %}sidebar-module-inset{% endif %}">
                <h4>{{widget.header}}</h4>
                {% if block %} {# block type widget #}
                    <p>{{widget.render()}}</p>
                {% else %} {# list type widget #}
                    <ol class="list-unstyled">
                        {% for link,itm in widget.items %}
                            <li><a href={{link}}>{{itm}}</a></li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
{% endmacro %}


{% block extra_head %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/blog.css')}}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
{% block header %}
{#{% if 'email' in session and 'user_id' in session %}
    <ul class="nav nav-pills">
              <li class="active"><a href="#">Add Post</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
          </ul>
    {% endif %}
    {% if nav_links %}
        {{ render_blog_nav(nav_links) }}
        {% endif %}
        #}{{ get_block('blog_navbar_test')|safe }}
{% endblock header %}
{% block body %}
      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

        <div class="col-md-offset-1 col-sm-9 blog-main">
            {{ button(**get_button('submit')) }}

          {% if blog_posts %}
              {{ render_post_list(blog_posts) }}
          {% endif %}

            {{ get_block('mini_pager')|safe }}

        </div><!-- /.blog-main -->
{% endblock body %}
{% block sidebar %}
        <div class="col-sm-2 blog-sidebar">
            {{ get_block('block1')|safe }}
            {% if sidebar_widgets %}
                {% for widget in sidebar_widgets %}
                    {% if not widget|attr('inset') %}
                        {% set inset = false %}
                    {% endif %}
                    {% if widget|attr('items') %}
                        {% set block = false %}
                    {% endif %}
                      {{ render_sidebar_widget(widget,inset,block) }}
                {% endfor %}
            {% endif %}
        </div><!-- /.blog-sidebar -->
{% endblock sidebar %}
{% block footer %}
    {{ get_block('footer1')|safe }}
{% endblock footer %}
{% block footer_js %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/docs.min.js')}}"></script>
{% endblock footer_js %}


{# crap #}
<!--

          <div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            <hr>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div>

           <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>


          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>

    -->
