{% extends 'layout.html' %}
{% import 'buttons.html' as btn %}
{% block extra_head %}
    {{ super() }}
    <!--<link href="{{url_for('static',filename='bootstrap.css')}}"-->
    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/dashboard.css')}}">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock extra_head %}
{% block header %}  
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('core.index')}}">Flask CMS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
    </div>
{% endblock header %}
{% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar sidebar-widget">
              <div class=well>
                  <h2>content</h2>
                </div>
          </ul>
          <ul class="nav nav-sidebar sidebar-widget">
              <div class=well>
                  <h2>content</h2>
                </div>
          </ul>
          <ul class="nav nav-sidebar sidebar-widget">
              <div class=well>
                  <h2>content</h2>
                </div>
          </ul>
        </div>
{% endblock sidebar %}
{% block content %}
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://placehold.it/200x200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
              {{ btn.render_save_button() }}
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://placehold.it/200x200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
              {{ btn.render_edit_button() }}
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://placehold.it/200x200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
              {{ btn.render_del_button() }}
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://placehold.it/200x200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
              {{ btn.render_view_button() }}
              {{ btn.render_button('button','btn btn-default','push me','stats') }}
            </div>
          </div>

        </div>

{% endblock content %}
{% block footer_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {#<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>#}
    <script src="{{url_for('static',filename='js/docs.min.js')}}"></script>
{% endblock footer_js %}  

