
.footer {
  padding-right: 15px;
  padding-left: 15px;
  }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  }
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  }
