

{% macro render_nav_dropdown(label,link_list) %}
    {# link_list should be list of (action,endpoint) or ('sep',None) #}
    <a class=dropdown-toggle data-toggle=dropdown>{{ label }}<b class=caret></b></a>
    <ul class=dropdown-menu>
        {% for action,endpoint in link_list.items() %}
            {% if not endpoint  is none %}
                <li><a href="{{ url_for(endpoint) }}">{{ action }}</a></li>
            {% else %}
                {% if action == 'sep' %}
                    <li class=divider></li>
                {% endif %}
            {% endif %}
        {% endfor %}
{% endmacro %}

{% macro render_nav_link(label,endpoint) %}
    <li{% if request.endpoint == endpoint %} class=active{% endif %}><a href="{{ endpoint }}">{{ label }}</a></li>
{% endmacro %}


{% macro render_navbar(brand,nav_links,dropdowns,inverse=false,auth=false) %}
    {% if inverse %}
        {% set type = 'inverse' %}
    {% else %}
        {% set type = 'default' %}
    {% endif %}
    <div class="navbar navbar-{{ type }} navbar-fixed-top">
        <div class=container>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class=navbar-brand href="/">{{ brand }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for txt,endpoint in nav_links.items() %}
                        {{ render_nav_link(txt,endpoint) }}
                    {% endfor %}
                    {% if dropdowns %}
                        {% for label,link_list in dropdowns.items() %}
                            <li class=dropdown>
                                {{ render_nav_dropdown(label,link_list) }}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {% if auth %}
                    <ul class="nav navbar-nav pull-right">
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro frontend_nav_link(endpoint,label) %}
    <li{% if kwargs['slug'] == request.url.split('/')[-1] %} class=active{% endif %}><a href="{{ url_for(endpoint,**kwargs) }}">{{ label }}</a></li>
{% endmacro %}

{% macro render_frontend_nav(link_list,title) %}
    <div class=header>
        <ul class="nav nav-pills pull-right">
            {% for e,l in link_list %}
                {% if e is iterable and e[1] is mapping %}
                   {{ frontend_nav_link(e[0],l,**e[1]) }}
                {% else %}
                   {{ frontend_nav_link(e,l) }}
                {% endif %}
            {% endfor %}
        </ul>
        <h2 class=" page-header text-muted">{{ title|title }}</h3>
    </div>
{% endmacro %}


