{#{% extends 'test.html' %}#}
{% extends 'layout.html' %}
{% from '_macros.html' import render_categories, render_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="panel">
                    <h2 class="page-header">{% if blog %}{{ blog.title }}{% else %}Latest Blog Posts{% endif %}</h1>
                    <hr/>
                </div>
                {% for post in articles %}
                    <h3><a href="{{ url_for('show_article', id=post.id, slug=post.slug) }}">{{ post.title }}</a></h3>
                    <p>{{ post.body|truncate(200)|markdown }}</p>
                    <h6>
                        By <a href="author/{{ post.person_name }}">{{ post.person_name }}</a> |
                        {{ post.created_in_words }} ago |
                        <a href="category/{{ post.category_name }}">{{ post.category_name }}</a>
                    </h6>
                    <hr/>
                {% endfor %}
            </div>
            {% if tags %}
                {{ render_tags(tags) }}
            {% endif %}
            {% if categories %}
                {{ render_categories(categories) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
